---
import Layout from "@/layouts/default.astro";
import { Image } from "astro:assets";
---

<Layout title="Affiliates">
  <section id="content" class="space-y-12 lg:space-y-24 mb-24">
    <Image
      src="https://static.wixstatic.com/media/0c8290_408d66e7bf554197994a764b7df8395e~mv2.jpg/v1/crop/x_4,y_0,w_953,h_376/fill/w_270,h_102,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/0c8290_408d66e7bf554197994a764b7df8395e~mv2.jpg"
      alt="The Arcview Group"
      width="270"
      height="102"
      class="size-full object-cover"
    />
    <Image
      src="https://static.wixstatic.com/media/0c8290_55365efd38e94d17b09ed370a2bac0bb~mv2.png/v1/fill/w_409,h_103,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/0c8290_55365efd38e94d17b09ed370a2bac0bb~mv2.png"
      alt="FlowHub"
      width="409"
      height="103"
      class="size-full object-cover"
    />
    <Image
      src="https://static.wixstatic.com/media/0c8290_fcea7e3e64e149b5acfcf578c4cb788d~mv2.png/v1/fill/w_109,h_131,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/0c8290_fcea7e3e64e149b5acfcf578c4cb788d~mv2.png"
      alt="iCan"
      width="109"
      height="131"
      class="size-full object-cover"
    />
    <Image
      src="https://static.wixstatic.com/media/0c8290_250c1c60457c417eb8a7b7d12087333a~mv2.png/v1/fill/w_290,h_87,al_c,lg_1,q_85,enc_auto/0c8290_250c1c60457c417eb8a7b7d12087333a~mv2.png"
      alt="Gorilla Boost"
      width="290"
      height="87"
      class="size-full object-cover"
    />
  </section>
  <section>
    <Image
      src="https://static.wixstatic.com/media/0c8290_16a7d9a602d648d19de6599022deba49~mv2.png/v1/fill/w_150,h_149,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/0c8290_16a7d9a602d648d19de6599022deba49~mv2.png"
      alt="MPP"
      width="150"
      height="149"
      class="size-full object-cover"
    />
    <Image
      src="https://static.wixstatic.com/media/0c8290_eaa67933fd5c4cadaea2b74225c24229~mv2_d_10800_4350_s_4_2.jpg/v1/fill/w_276,h_110,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/0c8290_eaa67933fd5c4cadaea2b74225c24229~mv2_d_10800_4350_s_4_2.jpg"
      alt="Students for Sensible Drug Policy"
      width="276"
      height="110"
      class="size-full object-cover"
    />
    <Image
      src="https://static.wixstatic.com/media/0c8290_e237a86fbbb343d89f10a153c2e30c1d~mv2.png/v1/fill/w_131,h_130,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/0c8290_e237a86fbbb343d89f10a153c2e30c1d~mv2.png"
      alt="Drug Policy Alliance"
      width="131"
      height="130"
      class="size-full object-cover"
    />
    <Image
      src="https://static.wixstatic.com/media/0c8290_315abc52fc3643d19654a0b63f506bfc~mv2.png/v1/fill/w_354,h_160,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo-cannabis-center.png"
      alt="Cannabis Center of Excellence"
      width="354"
      height="160"
      class="size-full object-cover"
    />
    <Image
      src="https://static.wixstatic.com/media/0c8290_be145b2bcf1f4efda93ef9056ebdb786~mv2.png/v1/fill/w_353,h_130,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/smart_logo.png"
      alt="Smart"
      width="353"
      height="130"
      class="size-full object-cover"
    />
  </section>
</Layout>
