---
import Card from "@/components/elements/card.astro";
import Hero from "@/components/sections/hero.astro";
import Layout from "../layouts/default.astro";
---

<Layout title="Welcome to Astro.">
  <section
    id="feature"
    class="w-full bg-secondary h-full 2xl:h-[80vh] pb-16 lg:pb-0"
  >
    <Hero />
  </section>

  <section id="content" class="space-y-8 lg:space-y-12">
    <h1>About <span class="text-primary">Us</span></h1>
    <blockquote>
      <span class="italic">
        Empowering business through innovative professional practices
      </span>
    </blockquote>
    <p>
      Green Lion Partners is a Denver, CO based business strategy firm focused
      on early stage development in the regulated cannabis industry. Founded in
      January 2015 by Jeffrey Zucker and Michael Bologna, Green Lion works to
      ensure that a sustainable framework for the industry is being built by
      following ethical values and fostering an expectation of operational
      excellence. By founding or partnering with companies, their core focus is
      elevating the public perception of the industry while concurrently pushing
      it toward more sophisticated business processes. In addition to
      businesses, Green Lion supports the industry groups working tirelessly to
      create industry opportunity and more importantly, socially conscious
      legislation.
    </p>
    <a class="button" href="/about">Read more</a>
  </section>

  <section
    id="cards"
    class="bg-gradient-to-b from-transparent to-secondary flex flex-col lg:flex-row justify-center items-stretch gap-8 px-8 2xl:px-[8vw] py-12 lg:py-24"
  >
    <Card
      title="Products"
      content="Each of our projects has two focuses: elevate the cannabis industry and position it to scale sustainably. We aim for all of our entrepreneurial endeavors to shed a positive light on the industry and its outlook."
      link="products"
    />
    <Card
      title="Press"
      content="Our team strives to educate the public on the current state of the industry and its wide range of benefits from medical, societal, environmental, and economic perspectives. Frequently, we are asked to share this message in the media in a variety of outlets."
      link="press"
    />
    <Card
      title="Connect"
      content="Stay informed about current events and grow your cannabis education by following Green Lion on social media. Keep up with the rapid growth of cannabis business, changes in policy, and industry tidbits with our original content and opinions on major topics."
      link="connect"
    />
  </section>
</Layout>

<style>
  #feature {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
</style>
