---
import Product from "@/components/elements/product.astro";
import Layout from "@/layouts/default.astro";
---

<Layout title="Products">
  <section id="content" class="space-y-12 lg:space-y-24 mb-24">
    <h1>Products</h1>
    <Product
      title="Dip Devices"
      link="https://www.dipdevices.com/"
      image="https://static.wixstatic.com/media/0c8290_443878b489cf46c0b6fad675f64a5233~mv2.png/v1/fill/w_217,h_145,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Dip-Devices-stacked-black.png"
    >
      <p>
        <a href="https://www.dipdevices.com" target="_blank">Dip Devices</a> creates
        premium vaporizer products and accessories. Dip strives to be the leader
        in bringing high-end, innovative products to the ever expanding vape and
        vape accessory market. Dip values quality, originality, and caring customer
        service.
      </p>
    </Product>
    <Product
      title="Green Lion Innovations"
      link="https://www.greenlioninnovations.com/"
      image="https://static.wixstatic.com/media/0c8290_db9944ab435d4bde96133a7ba306cff3~mv2.jpg/v1/fill/w_261,h_84,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/GLIwordmark.jpg"
    >
      <p>
        <a href="https://www.greenlioninnovations.com" target="_blank"
          >Green Lion Innovations</a
        > capitalizes on the team's experience in hardware design, manufacturing,
        and operational strategy to assist clients with every step of the product
        development process. GLI can help bring ideas to the market through product
        ideation, design for manufacturing, sourcing and quality control, and product
        launch. GLI also focuses on connecting the cannabis industry to a range of
        existing products to ensure their clients are using the best available solutions
        to accomplish their goals.
      </p>
    </Product>
    <Product
      title="America Israel Cannabis Association"
      link="https://aicannabis.com/"
      image="https://static.wixstatic.com/media/0c8290_443878b489cf46c0b6fad675f64a5233~mv2.png/v1/fill/w_217,h_145,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Dip-Devices-stacked-black.png"
    >
      <p>
        <a href="https://aicannabis.com" target="_blank"
          >America Israel Cannabis Association</a
        >
        has been established to foster collaboration and communication between North
        American and Israeli cannabis companies and individuals. AICA is a membership-based
        business networking organization that can facilitate research or licensing
        deals, investment opportunities, and other endeavors. AICA aims to be the
        ultimate source of information and education regarding activity in the industry
        between the two nations via online content, in-person events, and facilitating
        conversations.
      </p>
    </Product>
  </section>
</Layout>
