---
import "@/styles/global.css";

import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Meta from "@/components/meta.astro";

interface Props {
  title: string;
  description?: string;
  mainClasses?: string;
}

const anim = {
  old: {
    name: "bump",
    duration: "0.25s",
    easing: "ease-in",
    direction: "reverse",
  },
  new: {
    name: "bump",
    duration: "0.25s",
    easing: "ease-in-out",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};

const {
  title,
  description = "Green Lion Partners is a Denver, CO based business strategy firm focused on early stage development in the regulated cannabis industry",
  mainClasses,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Meta title={`${title} | Green Lion Partners`} description={description} />
  <body>
    <Header />
    <main class={mainClasses}>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<!-- <style is:global>
  @view-transition {
    navigation: auto;
  }

  @keyframes move-out {
    from {
      opacity: 1;
      transform: translateY(0%);
    }

    to {
      opacity: 0;
      transform: translateY(-10%);
    }
  }

  @keyframes move-in {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  /* Apply the custom animation to the old and new page states */
  ::view-transition-old(root) {
    animation: 300ms ease both move-out;
  }

  ::view-transition-new(root) {
    animation: 300ms ease both move-in;
  }
</style> -->
